
body {
    font-family: sans-serif;
    margin: 0;
}

.navbar {
    background-color: #003882; /* Sami Blue */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #ff0000; /* Sami Yellow */
}

.nav-logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #d92228; /* Sami Red */
}

.nav-links a.active {
    border-bottom: 2px solid #ffe600; /* Sami Green */
}
