<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Sámi Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <a href="{{ url_for('index') }}">Sámi Siida</a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Hjem</a></li>
            <li><a href="{{ url_for('historie') }}">Historie</a></li>
            <li><a href="{{ url_for('kultur') }}">Kultur</a></li>
            <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
        </ul>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
